.modal {
  background-color: var(--light-blue);
  color: var(--white);
  padding: 25px 50px;
  border-radius: 25px;
  width: 400px;
  border: 1px solid var(--white);
}
.modal h3 {
  margin-bottom: 15px;
}
.customButton {
  width: 130px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--white);
}
.customButton:hover {
  background-color: var(--yellow);
  color: var(--bg-color);
  font-weight: bold;
}
.customButton:nth-child(2) {
  float: right;
}

@media screen and (max-width: 500px) {
  .modal {
    width: 300px;
    text-align: center;
  }
  .infoWrapper img {
    max-width: 150px;
  }
  .customButton:nth-child(2) {
    float: none;
    margin-bottom: 5px;
  }
}
