.searchWrapper {
  margin: auto;
  text-align: center;
  background-color: var(--bg-color);
  min-height: 90vh;
  margin-top: 10vh;
}

.searchWrapper label {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--white);
}
.searchWrapper input {
  width: 50%;
  height: 40px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 50px 30px;
  padding-left: 15px;
  outline: none;
}
.searchWrapper h1 {
  color: var(--white);
}
.usersWrapper {
  width: 95%;
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
}

@media screen and (max-width: 1290px) {
  .usersWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1050px) {
  .usersWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 845px) {
  .usersWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 585px) {
  .usersWrapper {
    grid-template-columns: 1fr;
  }
  .searchWrapper {
    padding: 20px;
  }
  .searchWrapper label {
    margin-top: 20px;
  }
  .searchWrapper input {
    width: 90%;
    margin: auto;
  }
  .searchWrapper h1 {
    margin-top: 25px;
  }
}
